## Load both datasets

In [11]:
import pandas as pd

# File paths
iris_sample_path = "irissample.csv"
iris_extra_path = "iris_.csv"

## Merge Both Datasets

In [13]:

iris_df = pd.read_csv(iris_sample_path)
extra_df = pd.read_csv(iris_extra_path)

# Add 'Flower_ID' column to extra_df to match iris_df
extra_df["Flower_ID"] = range(1, len(extra_df) + 1)

# Perform the merge
merged_df = pd.merge(iris_df, extra_df, on="Flower_ID", how="left")

# Save merged dataset
merged_df.to_csv("../results/merged_dataset.csv", index=False)

# Display merged dataset preview
print("Merged dataset preview:")
display(merged_df.head())

Merged dataset preview:

,Flower_ID,Sepal_Length_x,Sepal_Width_x,Petal_Length_x,Petal_Width_x,Species_x,Sepal_Length_y,Sepal_Width_y,Petal_Length_y,Petal_Width_y,Species_y
0,1,5.1,3.5,1.4,0.2,Iris-setosa,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa,5.0,3.6,1.4,0.2,Iris-setosa

## Fix Duplicate Column Names

In [17]:
# Drop duplicate columns (keep only '_x' version)
merged_df = merged_df.drop(columns=['Sepal_Length_y', 'Sepal_Width_y', 'Petal_Length_y', 'Petal_Width_y', 'Species_y'])

# Rename remaining columns
merged_df = merged_df.rename(columns={
    'Sepal_Length_x': 'Sepal_Length',
    'Sepal_Width_x': 'Sepal_Width',
    'Petal_Length_x': 'Petal_Length',
    'Petal_Width_x': 'Petal_Width',
    'Species_x': 'Species'
})

# Save cleaned merged dataset
merged_df.to_csv("../results/merged_dataset.csv", index=False)

# Display final cleaned dataset
print("Final Merged Dataset:")
display(merged_df.head())

Final Merged Dataset:

,Flower_ID,Sepal_Length,Sepal_Width,Petal_Length,Petal_Width,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa

In [20]:
# Save the final cleaned dataset to the 'results' folder
merged_df.to_csv("C:/Users/ashna/Test/results/merged_dataset.csv", index=False)

# Confirmation message
print("✅ Merged dataset saved successfully in results folder!")

✅ Merged dataset saved successfully in results folder!